body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.login-form-container {
  background: linear-gradient(135deg, #3B82F6, #1E3A8A); /* Degradê do azul claro ao escuro */
  color: #ffffff;
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forgot-password {
  color: #90cdf4;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  background: linear-gradient(135deg, #3B82F6, #1E3A8A); /* Degradê do azul claro ao escuro */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: linear-gradient(135deg, #1E3A8A, #1E40AF); /* Degradê mais escuro no hover */
}

.register-button {
  background: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.register-button:hover {
  background: #45a049;
}

.promo-section {
  background: url('') no-repeat center center;
  background-size: cover;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(43, 42, 42);
}

.promo-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.promo-content p {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.steps-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.steps-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.steps-list li span {
  background: linear-gradient(135deg, #3B82F6, #1E3A8A); /* Degradê do azul claro ao escuro */
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.steps-list li span:hover {
  background: linear-gradient(135deg, #1E3A8A, #1E40AF); /* Degradê mais escuro no hover */
}

.promo-button {
  background: linear-gradient(135deg, #3B82F6, #1E3A8A); /* Degradê do azul claro ao escuro */
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.promo-button:hover {
  background: linear-gradient(135deg, #1E3A8A, #1E40AF); /* Degradê mais escuro no hover */
}

.highlight {
  color: #90cdf4;
}

/* Responsivo */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-form-container, .promo-section {
    width: 100%;
    padding: 20px;
  }

  .promo-section {
    background: none;
  }
}
