/* SidebarMenu.css */

.sidebar-menu {
  width: 110px; /* Largura do menu expandido */
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s;
  overflow: hidden; /* Esconde o conteúdo fora da área visível */
}

.sidebar-menu.collapsed {
  width: 60px; /* Largura quando recolhido */
}

.sidebar-menu .menu-content {
  display: block;
  transition: opacity 0.3s, transform 0.3s;
}

.sidebar-menu.collapsed .menu-content {
  opacity: 0; /* Esconde o conteúdo quando recolhido */
  pointer-events: none; /* Desativa a interação com o conteúdo escondido */
  transform: scale(0.8); /* Diminui o conteúdo quando recolhido */
}

.sidebar-menu .menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu .menu-content ul li {
  margin: 15px 0;
}

.sidebar-menu .menu-content ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-menu .menu-content ul li a:hover {
  background-color: #575757;
  color: #e2e2e2;
}

.toggle-button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #555;
}

.content-container {
  margin-left: 100px; /* Inicialmente o menu está expandido */
  padding: 20px;
  width: calc(100% - 200px);
  transition: margin-left 0.3s, width 0.3s;
}

.sidebar-menu.collapsed + .content-container {
  margin-left: 60px; /* Ajuste a largura quando o menu está recolhido */
  width: calc(100% - 60px); /* Ajusta a largura do conteúdo quando o menu está recolhido */
}

/* Responsivo */
@media (max-width: 768px) {
  .sidebar-menu {
    display: none; /* Oculta a sidebar em telas pequenas */
  }

  .content-container {
    margin-left: 0;
    width: 100%;
  }
}
