.sidebar-menu {
  width: 5px; /* Define a largura do menu baseada no tamanho dos ícones */
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 90%;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: var(--foreground);
  text-decoration: none;
  transition: transform 0.3s ease; /* Adiciona transição suave */
}

.menu-item svg {
  font-size: 18px; /* Define o tamanho dos ícones */
  transition: transform 0.3s ease; /* Transição suave para o ícone */
}

.menu-item:hover svg {
  transform: scale(1.5); /* Aumenta o ícone em 1.5x ao passar o mouse */
}

.menu-text {
  display: none; /* Esconde o texto */
}

/* Estilos adicionais */
.sidebar-menu .menu-content ul li a i {
  font-size: 18px; /* Define o tamanho do ícone */
  margin-right: 0; /* Remove o espaço entre ícone e texto */
}

.sidebar-menu.collapsed .menu-content ul li a {
  justify-content: center; /* Centraliza o ícone quando o menu está recolhido */
}

.sidebar-menu.collapsed .menu-content ul li a span {
  display: none; /* Esconde o texto ao recolher */
}
