/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 1rem;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.icon-container {
  display: flex;
  gap: 2rem; /* Espaçamento entre os ícones */
}

.icon-button {
  width: 100px; /* Define a largura dos botões */
  height: 100px; /* Define a altura dos botões */
  transition: transform 0.3s ease; /* Transição suave para o efeito de aumento */
}

.icon-button:hover {
  transform: scale(1.2); /* Aumenta o ícone em 20% ao passar o mouse */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-title {
    font-size: 2rem; /* Reduz o tamanho da fonte para telas menores */
    margin-bottom: 1.5rem;
  }

  .icon-button {
    width: 50px; /* Ajusta a largura dos botões para telas menores */
    height: 50px; /* Ajusta a altura dos botões para telas menores */
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 1.5rem; /* Reduz ainda mais o tamanho da fonte para telas muito pequenas */
    margin-bottom: 1rem;
  }

  .icon-button {
    width: 40px; /* Ajusta a largura dos botões para telas muito pequenas */
    height: 40px; /* Ajusta a altura dos botões para telas muito pequenas */
  }
}
